<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


	<bean id="appDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		lazy-init="default">
		<property name="defaultAutoCommit" value="false" />
		<property name="driverClassName" value="${app.main.db.driver}" />
		<property name="url" value="${app.main.db.url}" />
		<property name="username" value="${app.main.db.username}" />
		<property name="password" value="${app.main.db.password}" />
		<property name="initialSize" value="${app.main.db.init_pool_size}" />
		<property name="maxActive" value="${app.main.db.max_pool_size}" />
		<property name="maxWait" value="${app.main.db.max_wait_size}" />
		<property name="maxIdle" value="${app.main.db.max_idle_size}" />
		<property name="minIdle" value="${app.main.db.min_idle_size}" />
		<property name="testOnBorrow" value="${app.main.db.testOnBorrow}" />
		<property name="testOnReturn" value="${app.main.db.testOnReturn}" />
		<property name="testWhileIdle" value="${app.main.db.testWhenIdle}" />
		<property name="validationQuery" value="${app.main.db.validationQuery}" />
		<property name="accessToUnderlyingConnectionAllowed" value="true" />
		<property name="minEvictableIdleTimeMillis" value="${app.main.db.idleEvictTimeMS}" />
		<property name="timeBetweenEvictionRunsMillis" value="${app.main.db.evictorIntervalMS}" />
	</bean>


	<bean id="appTrxManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="appDataSource" />
	</bean>


<!-- IF MYBATIS IS USED AS DAO LAYER -->
	<bean id="appSqlSessionFactory"
		class="in.v8delta.util.MyBatisSqlSessionFactory">
		<property name="dataSource" ref="appDataSource" />
		<property name="configLocation" value="/WEB-INF/sql/config/sqlMapConfig.xml" />
		<property name="mapperLocations" value="/WEB-INF/sql/queries/*.xml" />
<!--  		PROPERTIES TO INJECT INTO SQL MAPPERS  -->
		<property name="configurationProperties">
			<props>
				<prop key="PROP_1">${}</prop>
				<prop key="PROP_2">${}</prop>
			</props>
		</property>
	</bean>

</beans>
